body {
    text-align: center;
    margin: 0;
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
}

.app-info h3{
    margin: 0;
    font-family: "Neuton";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 40px;
    color: #FFFFFF;
}
.app-info img {
    width: 900px;
    height: auto;
    margin: 0;
}

.login-field p {
    font-family: "Cabin";
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 100%;
    color: #FFFFFF;
}
.login-field input {
    padding: 5px;
    border: 0;
    margin: 0;
    width: 250px;
    height: 50px;
    background-color: #FFFFFF;
}

.login-button button {
    padding: 0;
    border: 0;
    margin-top: 35px;
    width: 250px;
    height: 42px;
    color: #FFFFFF;
    background-color: #8886EE;
}