body {
    margin: 0;
    background: #dddddd;
    width: 100%;
    overflow: hidden;
}

.tools {
    display: flex;
    position: absolute;
}
#datasize {
    margin: 0 5px;
}
#canvas {
    width: 100%;
    height: 100%;
}

