// var
@theme-color: #8886EE;
@menu-color: #fff;
@background-color: #eee;
@hover-color: rgba(136, 134, 238, 0.4);
@active-color: rgba(136, 134, 238, 0.6);
@clip-color: #333;
@shadow-color: rgba(0, 0, 0, 0.3);
@icon-color: #555;
@write-field-width: 630px;
@bordercolor: #999;
@buttoncolor: #eee;
@buttoncolor-hover: #ddd;
@buttoncolor-active: #ccc;
@tile-height: 130px;

// mixin
.all-transition(@time: 0.3s){ // transition for all property
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: @time;
}

body{
  background-color: @background-color;
  margin: 0px;

  button{
    -webkit-appearance: none;
    background-color: @buttoncolor;
    border: solid 1px @bordercolor;
    outline: none;

    &:hover{
      background-color: @buttoncolor-hover;
    }

    &:active{
      background-color: @buttoncolor-active;
    }
  }

  nav.menu-bar{
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 2000;
    background-color: @menu-color;
    box-shadow: 1px 1px 1px rgba(136, 134, 238, 0.4);
  }

  .buttons{
    height: 100%;
  }

  .button{
    color: @icon-color;
    background-color: @menu-color;
    border-style: none;
    height: 100%;
    -webkit-appearance: none;
    .all-transition();
    &:hover{
      background-color: @hover-color;
    }
    &:active{
      background-color: @active-color;
    }
    &:focus{
      outline: none; // overwrite user agent stylesheet
    }
  }

  .menu_container{
    position: absolute;
    top: 50%;
    left: 50%;
  }

  article{
    display: inline-block;
  }

  article.clip-bar{
    width: 15vw;
    height: 100%;
    padding: 0;
    position: fixed;
    left: -15vw;
    z-index: 1000;
    margin-top: 45px;
    background-color: @clip-color;
    .all-transition();
    &.active{
      left: 0vw;
      box-shadow: 3px 0px 1px @shadow-color;
    }

    .clip-view-content{
      width: 100% !important;
      padding: 0;

      input{
        width: 100% !important;
      }

      div.dp-input-container{
        width: 100%;
      }
    }

    .error{
      input::-webkit-input-placeholder{
        color: #a94442;
      }
    }
  }

  .write-nav{
    position: absolute;
    height: 40px;
    left: 38vw;
    top: 10vh;

    nav{
      height: 100%;
      margin: 0;
      padding: 0;
    }

    button{
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .tag-input{
      margin: 0;
      padding: 0;
    }

    select{
      appearance: none;
      -webkit-appearance: none;
      border: solid 1px @bordercolor;
      background-color: #eee;
      height: 5vh;
      outline: 0;

      option{
        background-color: #eee;
      }

      &:hover{
        background-color: #ddd;
      }

      &:active{
        background-color: #ccc;
      }
    }
  }

  article.write-field{
    background-color: @menu-color;
    position: absolute;
    width: @write-field-width;
    min-height: @write-field-width * 1.414;
    margin: 10px 0;
    left: 38vw;
    top: 15vh;

    .tile-contents{
      position: relative;
      padding: 0;
      margin: 0;
      z-index: 10;

      .tile{
        min-height: @tile-height;
        padding: 0 15px;
        overflow: hidden;
        word-wrap: break-word;
        white-space: pre-wrap;
        user-select: none;
        cursor: pointer;
      }

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        border-style: none;
      }

      ul{
        list-style-type: none;
        height: @tile-height;
        margin: 0;
        padding: 0;

        li{
          display: inline;
          margin: 0;
          padding: 0;
          float: left;

          .add{
            appearance: none;
            -webkit-appearance: none;
            display: block;
            height: @tile-height / 2;
            padding: 0;
            margin: 0;
            border: solid 2px @bordercolor;
            color: #666;
            vertical-align: middle;
            font-size: 18px;
            box-shadow: none;
            text-decoration: none;
          }

          .add-tile{
            border-bottom-width: 0;
          }
        }
      }
    }

    .tile-input{
      padding: 0;
      margin: 0;
      z-index: 20;

      span{
        padding: 0;
        margin: 0;

        label{
          padding: 0;
          margin: 0;
        }

        textarea{
          appearance: none;
          -webkit-appearance: none;
          position: absolute;
          min-height: @tile-height;
          padding: 0 15px;
          overflow: hidden;
          resize: none;
          outline: 0;

          &:focus{
            border: solid 1px #aaa;
            outline: solid 1px #8886EE;
          }
        }
      }
    }
  }
}
