<!--tileのdivタグ-->
<span class="container tile-contents">
  <span *ngFor="let tile of tiles">
    <div [MathJax]="tile.con" [style.visibility]="tile.edited ? 'hidden' : 'visible'" id='tile{{tile.idx}}' class="col-sm-{{tile.col}} tile" (click)="visibleTextarea(tile); getPreTile(tile)"></div>
  </span>
  <button type=button (click)="add_tile()">add tile</button>
  <button type=button (click)="save_tile()">save_tile</button>
  <button type=button (click)="load_clip()">load_clip</button>
  <button type=button (click)="save_clip()">save_clip</button>
  <button type=button (click)="test()">hoge</button>
</span>
<!--tileのtextarea-->
<span class="container tile-input">
  <span *ngFor="let tile of tiles">
    <textarea #textarea [style.visibility]="tile.edited ? 'visible' : 'hidden'" id='textarea{{tile.idx}}' class="col-sm-{{tile.col}}" (input)="resize(textarea)" [(ngModel)]="tile.con" (blur)="unvisibleTextarea(tile); save_tile(tile)" wrap=hard style="line-height: 20px; height: 24px;"></textarea>
  </span>
</span>
