body {
  background-color: #eee;
  margin: 0px;
}
body nav.menu-bar {
  width: 100vw;
  height: 5vh;
  position: fixed;
  z-index: 2000;
  background-color: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
body .buttons {
  height: 100%;
}
body .button {
  color: #555;
  background-color: #fff;
  border-style: none;
  height: 100%;
  -webkit-appearance: none;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
body .button:hover {
  background-color: rgba(136, 134, 238, 0.4);
}
body .button:active {
  background-color: rgba(136, 134, 238, 0.6);
}
body .button:focus {
  outline: none;
}
body article {
  display: inline-block;
}
body article.clip-bar {
  width: 0vw;
  height: 95vh;
  position: fixed;
  z-index: 1000;
  margin-top: 5vh;
  background-color: #333;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
body article.clip-bar.active {
  width: 15vw;
  box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.3);
}
body .write-nav {
  position: absolute;
  height: 5vh;
  left: 38vw;
  top: 10vh;
}
body .write-nav nav {
  padding: 0;
  margin: 0;
}
body .write-nav input {
  height: 20px;
}
body .write-nav tag-input {
  margin: 0;
  padding: 0;
}
body .write-nav select {
  height: 40px;
}
body article.write-field {
  background-color: #fff;
  position: absolute;
  width: 40vw;
  height: 56.56vw;
  left: 38vw;
  top: 15vh;
}
body article.write-field .tile-contents {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 10;
}
body article.write-field .tile-contents .tile {
  min-height: 24px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  user-select: none;
  cursor: pointer;
}
body article.write-field .tile-input {
  padding: 0;
  margin: 0;
  z-index: 20;
}
body article.write-field .tile-input span {
  padding: 0;
  margin: 0;
}
body article.write-field .tile-input span label {
  padding: 0;
  margin: 0;
}
body article.write-field .tile-input span textarea {
  position: absolute;
  overflow: hidden;
  resize: none;
}
