body {
  background-color: #eee;
  margin: 0px;
}
body button {
  -webkit-appearance: none;
  background-color: #eee;
  border: solid 1px #999;
  outline: none;
}
body button:hover {
  background-color: #ddd;
}
body button:active {
  background-color: #ccc;
}
body nav.menu-bar {
  position: fixed;
  width: 100%;
  height: 45px;
  z-index: 2000;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(136, 134, 238, 0.4);
}
body .buttons {
  height: 100%;
}
body .button {
  color: #555;
  background-color: #fff;
  border-style: none;
  height: 100%;
  -webkit-appearance: none;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
body .button:hover {
  background-color: rgba(136, 134, 238, 0.4);
}
body .button:active {
  background-color: rgba(136, 134, 238, 0.6);
}
body .button:focus {
  outline: none;
}
body .menu_container {
  position: absolute;
  top: 50%;
  left: 50%;
}
body article {
  display: inline-block;
}
body article.clip-bar {
  width: 15vw;
  height: 100%;
  padding: 0;
  position: fixed;
  left: -15vw;
  z-index: 1000;
  margin-top: 45px;
  background-color: #333;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
body article.clip-bar.active {
  left: 0vw;
  box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.3);
}
body article.clip-bar .clip-view-content {
  width: 100% !important;
  padding: 0;
}
body article.clip-bar .clip-view-content input {
  width: 100% !important;
}
body article.clip-bar .clip-view-content div.dp-input-container {
  width: 100%;
}
body article.clip-bar .error input::-webkit-input-placeholder {
  color: #a94442;
}
body .write-nav {
  position: absolute;
  height: 40px;
  left: 38vw;
  top: 10vh;
}
body .write-nav nav {
  height: 100%;
  margin: 0;
  padding: 0;
}
body .write-nav button {
  height: 100%;
  margin: 0;
  padding: 0;
}
body .write-nav .tag-input {
  margin: 0;
  padding: 0;
}
body .write-nav select {
  appearance: none;
  -webkit-appearance: none;
  border: solid 1px #999;
  background-color: #eee;
  height: 5vh;
  outline: 0;
}
body .write-nav select option {
  background-color: #eee;
}
body .write-nav select:hover {
  background-color: #ddd;
}
body .write-nav select:active {
  background-color: #ccc;
}
body article.write-field {
  background-color: #fff;
  position: absolute;
  width: 630px;
  min-height: 890.82px;
  margin: 10px 0;
  left: 38vw;
  top: 15vh;
}
body article.write-field .tile-contents {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 10;
}
body article.write-field .tile-contents .tile {
  min-height: 130px;
  padding: 0 15px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  user-select: none;
  cursor: pointer;
}
body article.write-field .tile-contents img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: none;
}
body article.write-field .tile-contents ul {
  list-style-type: none;
  height: 130px;
  margin: 0;
  padding: 0;
}
body article.write-field .tile-contents ul li {
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
}
body article.write-field .tile-contents ul li .add {
  appearance: none;
  -webkit-appearance: none;
  display: block;
  height: 65px;
  padding: 0;
  margin: 0;
  border: solid 2px #999;
  color: #666;
  vertical-align: middle;
  font-size: 18px;
  box-shadow: none;
  text-decoration: none;
}
body article.write-field .tile-contents ul li .add-tile {
  border-bottom-width: 0;
}
body article.write-field .tile-input {
  padding: 0;
  margin: 0;
  z-index: 20;
}
body article.write-field .tile-input span {
  padding: 0;
  margin: 0;
}
body article.write-field .tile-input span label {
  padding: 0;
  margin: 0;
}
body article.write-field .tile-input span textarea {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  min-height: 130px;
  padding: 0 15px;
  overflow: hidden;
  resize: none;
  outline: 0;
}
body article.write-field .tile-input span textarea:focus {
  border: solid 1px #aaa;
  outline: solid 1px #8886EE;
}
